#maui {
    transform: scale(1.5,1.5);
    transform: translate(150px,50px);
    transform: rotate(8deg);
}
.btn {
    display: block;
    padding: 10px;
    color: aquamarine;
    background-color: blue;
    width: 110px;
    text-align: center;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 2s;
    /*transition: background-color 3s ease-in-out;*/
}
.btn:hover {
    background-color: lightblue;
}