body {
    background-color: lightblue;
    margin-left: 0;
    margin-right: 0;
}
header h1 {
    text-align: center;
}
nav {
    display: none
}
footer {
    display: none;
}
nav a {
    text-decoration: none;
    background-color: darkblue;
    color: darkgoldenrod;
    padding: 25px;

}
.non-current:hover {

    background-color: beige;
}
.current {
    background-color: blue;
}
.sidebar {
    display: flex;
    flex-flow: column;
    float: left;
    justify-content: right;
    width: 378px;
    background-color: rgba(255, 170, 0, 0.399);
    padding: 20px;
    border: thick solid black;
    box-shadow: 5px 5px 5px gray;
}
main {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}
.print {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.sidebar h3 {
    text-align: center;
}
.ul-list {
    line-height: 1.5;
}
.tier-list {
    border: thin solid black;
    margin: 5px auto;
    border-spacing: 10px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 5px 5px 5px black;
}
.tier-list td, .tier-list th {
    border: thin solid black;
    padding: 10px;
}
.tier-list tbody tr:nth-child(odd) {
    background-color: lightgray;
}
.tier-list thead, .tier-list tfoot, .tier-list tbody tr th {
    background-color: gray;
}
.table {
    text-align: center;
}
.clear {
    clear: both;
}
.center {
    text-align: center;
}





.main-header {
    text-align: center;
}
.sidebar-goblin {
    display: flex;
    flex-flow: column;
    float: right;
    justify-content: right;
    width: 378px;
    background-color: rgba(255, 170, 0, 0.399);
    padding: 20px;
    border: thick solid black;
    box-shadow: 5px 5px 5px gray;
}
.sidebar-goblin h3 {
    text-align: center;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 50px;
}
.item   {
    width: 600px;
    background-color: beige;
    text-align: center;
    padding: 10px;
    border: thin solid black;
    box-shadow: 5px 5px 5px;
}
.lyrics {
    line-height: 1.5;
}




.sidebar-wolf {
    display: flex;
    flex-flow: column;
    float: right;
    justify-content: right;
    width: 378px;
    background-color: rgba(255, 170, 0, 0.399);
    padding: 20px;
    border: thick solid black;
    box-shadow: 5px 5px 5px gray;
}
.sidebar-wolf h3 {
    text-align: center;
}






@media screen and (max-width: 1028px) {
    nav {
        flex-direction: column;
        gap: 30px;
        width: max-content;
        text-align: center;
        margin: 5px auto;
        border-radius: 5px;
    }
    nav a {
        border-radius: 5px;
    }
    main {
        display: flex;
        gap: 10px;
        flex-flow: row wrap;
        justify-content: space-around;
    }
}